@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	background-image: url('home.png');
	background-size: cover;
	background-attachment: fixed;
	animation: moveIt 1200s linear infinite;
}

@keyframes moveIt {
	from {
		background-position: 0 0;
	}

	/*use negative width if you want it to flow right to left else and positive for left to right*/
	to {
		background-position: -10000px 0;
	}
}


.site-logo {
	scale: 50%;
	position: relative;
	left: -55%;
	top: 15%;
	filter: brightness(150%);
}

.image1 {
	position: absolute;
}

.image2 {
	filter: brightness(0) invert(1) blur(20px);
	-webkit-filter: brightness(0) invert(1) blur(20px);
	opacity: 1;
}

img.image2:hover {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	filter: brightness(0) invert(1) blur(40px);
	-webkit-filter: brightness(0) invert(1) blur(40px);
	opacity: 1;
}

.sign-up-buttons {
	font-size: 22px;
	font-family: "Poppins", sans-serif;
	width: 250px;
	height: 60px;
	border: none;
	border-radius: 50px;
	outline: none;
	color: #fff;
	background-color: rgba(188, 165, 248, 0.288);
	backdrop-filter: brightness(120%);
	outline: solid 1px white;
	cursor: pointer;
	z-index: 0;
	position: relative;
	left: 0%;
	top: 30px;
	box-shadow: 0 0 30px 1px #ffffffa6
}

.sign-up-buttons:before {
	content: '';
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	border-radius: 50px;
}

.sign-up-buttons:active {
	color: #ffffff
}

.sign-up-buttons:active:after {
	background: transparent;
}

.sign-up-buttons:hover:before {
	opacity: 1;
}

.sign-up-buttons:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(182, 152, 255, 0.24);
	left: 0;
	top: 0;
	border-radius: 50px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

.bottom-text {
	color: rgba(182, 152, 255, 0.24);
	margin-top: 210px;
	font-family: 'Open Sans Light', sans-serif;
	font-size: 15px;
}


/* UPDATED FOR LOGIN & REGISTRATION */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	height: 115vh;
	width: 100vw;
	justify-content: center;
	align-items: right;
    position: relative;
    left: 800px;
	gap: 30px;
	background-color: rgb(231, 231, 231);
}

header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.heading {
	color: green;
}

.title {
	font-weight: 400;
	letter-spacing: 1.5px;
}

.container {
	height: 550px;
	width: 400px;
	top: -370px;
	right: -520px;
	background: rgba(201, 80, 207, 0.185);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(11px);
	-webkit-backdrop-filter: blur(11px);
	border: 1px solid rgb(255, 255, 255);
	position: relative;
	box-shadow: 0 0 60px 1px #ffffff7a;
	overflow: hidden;
}

.btn {
	height: 60px;
	width: 300px;
	/*spacing between words in slider bar*/
	margin: 20px auto;
	box-shadow: 10px 10px 30px rgb(96, 55, 178);
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid rgba(44, 12, 65, 0.212);
}

.login,
.register {
	font-size: 22px;
	color: white;
	border: none;
	outline: none;
	background-color: transparent;
	position: relative;
	cursor: pointer
}

.login:hover {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	text-shadow: 3px 3px 8px rgba(255, 255, 255, 1), 12px 1px 17px rgba(255, 255, 255, 1), -2px -1px 22px rgba(255, 255, 255, 0.76);
	opacity: 1;
}


.register:hover {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	text-shadow: 3px 3px 8px rgba(255, 255, 255, 1), 12px 1px 17px rgba(255, 255, 255, 1), -2px -1px 22px rgba(255, 255, 255, 0.76);
}

.slider {
	height: 60px;
	width: 150px;
	border-radius: 50px;
	background-image: linear-gradient(to right,
			rgba(130, 91, 204, 0.486),
			rgba(211, 174, 255, 0.568));
	position: absolute;
	top: 20px;
	left: 50px;
	transition: all 0.5s ease-in-out;
	border: 1px solid rgb(255, 255, 255);
}

.moveslider {
	left: 200px;
	/*how much slider moves*/
}

.form-section {
	/* controls sizing of user entry space */
	height: 350px;

	/*controls placement of text bars in container*/
	width: 100px;
	padding: 20px 0;
	display: flex;
	position: relative;
	top: -10px;
	transition: all 0.5s ease-in-out;
	left: 0px;
}

.form-section-move {
	left: -372px;
	/*how much form section moves*/
}

.login-box,
.signup-box {
	height: 100%;
	width: 510px;
	/*width apart between login & register forms*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px 40px;
}

.login-box {
	/* vertical spacing between text boxes for login forms */
	gap: 30px;
}

.signup-box {
	gap: 22px;
}

.ele {
	height: 60px;
	width: 300px;
	/*controls width of user box*/
	outline: none;
	border: none;
	color: rgb(77, 77, 77);
	/*text color*/
	background-color: rgb(240, 240, 240);
	border-radius: 50px;
	padding-left: 30px;
	font-size: 18px;
}

/* for login or register completion button */
.clkbtn {
	height: 60px;
	width: 150px;
	box-shadow: 10px 10px 30px rgb(96, 55, 178);
	border-radius: 50px;
	font-size: 22px;
	color: white;
	border: none;
	cursor: pointer;
	position: relative;
	top: 25px;
	background-color: rgba(188, 165, 248, 0.288);
	outline: solid 1px white;
}


.clkbtn:before {
	content: '';
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	border-radius: 50px;
}

.clkbtn:active {
	color: #ffffff
}

.clkbtn:active:after {
	background: transparent;
}

.clkbtn:hover:before {
	opacity: 1;
}

.clkbtn:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(182, 152, 255, 0.24);
	left: 0;
	top: 0;
	border-radius: 50px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

/* For Responsiveness of the page */
@media screen and (max-width: 650px) {
	.container {
		height: 600px;
		width: 300px;
	}

	.title {
		font-size: 15px;
	}

	.btn {
		height: 50px;
		width: 200px;
		margin: 20px auto;
	}

	.login,
	.register {
		font-size: 19px;
	}

	.slider {
		height: 50px;
		width: 100px;
		left: 50px;
	}

	.moveslider {
		left: 150px;
	}

	.form-section {
		height: 550px;
		width: 600px;
	}

	.form-section-move {
		left: -300px;
	}

	.login-box,
	.signup-box {
		height: 100%;
		width: 300px;
	}

	.ele {
		height: 50px;
		width: 250px;
		font-size: 15px;
	}

	.clkbtn {
		height: 50px;
		width: 130px;
		font-size: 19px;
	}
}

@media screen and (max-width: 320px) {
	.container {
		height: 600px;
		width: 250px;
	}

	.heading {
		font-size: 30px;
	}

	.title {
		font-size: 10px;
	}

	.btn {
		height: 50px;
		width: 200px;
		margin: 20px auto;
	}

	.login,
	.register {
		font-size: 19px;
	}

	.slider {
		height: 50px;
		width: 100px;
		left: 27px;
	}

	.moveslider {
		left: 127px;
	}

	.form-section {
		height: 550px;
		width: 500px;
	}

	.form-section-move {
		left: -250px;
	}

	.login-box,
	.signup-box {
		height: 100%;
		width: 250px;
	}

	.ele {
		height: 50px;
		width: 220px;
		font-size: 15px;
	}

	.clkbtn {
		height: 50px;
		width: 130px;
		font-size: 19px;
	}
}

